<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.common.platform.mapper.TblModuleMapper" >
  <resultMap id="BaseResultMap" type="com.common.platform.model.TblModule" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="module_key" property="moduleKey" jdbcType="VARCHAR" />
    <result column="module_name" property="moduleName" jdbcType="VARCHAR" />
    <result column="module_url" property="moduleUrl" jdbcType="VARCHAR" />
    <result column="module_icon" property="moduleIcon" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="order_no" property="orderNo" jdbcType="INTEGER" />
    <result column="check_usb_key" property="checkUsbKey" jdbcType="INTEGER" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="only_for_role_id" property="onlyForRoleId" jdbcType="BIGINT" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
    <result column="default_moule" property="defaultMoule" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, module_key, module_name, module_url, module_icon, level, parent_id, order_no, 
    check_usb_key, created_date, only_for_role_id, updated_date, default_moule, status, 
    remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.common.platform.model.TblModuleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_module
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_module
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_module
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.common.platform.model.TblModuleExample" >
    delete from tbl_module
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.common.platform.model.TblModule" >
    insert into tbl_module (id, module_key, module_name, 
      module_url, module_icon, level, 
      parent_id, order_no, check_usb_key, 
      created_date, only_for_role_id, updated_date, 
      default_moule, status, remark
      )
    values (#{id,jdbcType=BIGINT}, #{moduleKey,jdbcType=VARCHAR}, #{moduleName,jdbcType=VARCHAR}, 
      #{moduleUrl,jdbcType=VARCHAR}, #{moduleIcon,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, 
      #{parentId,jdbcType=BIGINT}, #{orderNo,jdbcType=INTEGER}, #{checkUsbKey,jdbcType=INTEGER}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{onlyForRoleId,jdbcType=BIGINT}, #{updatedDate,jdbcType=TIMESTAMP}, 
      #{defaultMoule,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.common.platform.model.TblModule" >
    insert into tbl_module
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="moduleKey != null" >
        module_key,
      </if>
      <if test="moduleName != null" >
        module_name,
      </if>
      <if test="moduleUrl != null" >
        module_url,
      </if>
      <if test="moduleIcon != null" >
        module_icon,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="checkUsbKey != null" >
        check_usb_key,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="onlyForRoleId != null" >
        only_for_role_id,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
      <if test="defaultMoule != null" >
        default_moule,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="moduleKey != null" >
        #{moduleKey,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null" >
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="moduleUrl != null" >
        #{moduleUrl,jdbcType=VARCHAR},
      </if>
      <if test="moduleIcon != null" >
        #{moduleIcon,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="checkUsbKey != null" >
        #{checkUsbKey,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="onlyForRoleId != null" >
        #{onlyForRoleId,jdbcType=BIGINT},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="defaultMoule != null" >
        #{defaultMoule,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.common.platform.model.TblModuleExample" resultType="java.lang.Integer" >
    select count(*) from tbl_module
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_module
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.moduleKey != null" >
        module_key = #{record.moduleKey,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleName != null" >
        module_name = #{record.moduleName,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleUrl != null" >
        module_url = #{record.moduleUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleIcon != null" >
        module_icon = #{record.moduleIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null" >
        level = #{record.level,jdbcType=INTEGER},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=BIGINT},
      </if>
      <if test="record.orderNo != null" >
        order_no = #{record.orderNo,jdbcType=INTEGER},
      </if>
      <if test="record.checkUsbKey != null" >
        check_usb_key = #{record.checkUsbKey,jdbcType=INTEGER},
      </if>
      <if test="record.createdDate != null" >
        created_date = #{record.createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.onlyForRoleId != null" >
        only_for_role_id = #{record.onlyForRoleId,jdbcType=BIGINT},
      </if>
      <if test="record.updatedDate != null" >
        updated_date = #{record.updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.defaultMoule != null" >
        default_moule = #{record.defaultMoule,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_module
    set id = #{record.id,jdbcType=BIGINT},
      module_key = #{record.moduleKey,jdbcType=VARCHAR},
      module_name = #{record.moduleName,jdbcType=VARCHAR},
      module_url = #{record.moduleUrl,jdbcType=VARCHAR},
      module_icon = #{record.moduleIcon,jdbcType=VARCHAR},
      level = #{record.level,jdbcType=INTEGER},
      parent_id = #{record.parentId,jdbcType=BIGINT},
      order_no = #{record.orderNo,jdbcType=INTEGER},
      check_usb_key = #{record.checkUsbKey,jdbcType=INTEGER},
      created_date = #{record.createdDate,jdbcType=TIMESTAMP},
      only_for_role_id = #{record.onlyForRoleId,jdbcType=BIGINT},
      updated_date = #{record.updatedDate,jdbcType=TIMESTAMP},
      default_moule = #{record.defaultMoule,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.common.platform.model.TblModule" >
    update tbl_module
    <set >
      <if test="moduleKey != null" >
        module_key = #{moduleKey,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null" >
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="moduleUrl != null" >
        module_url = #{moduleUrl,jdbcType=VARCHAR},
      </if>
      <if test="moduleIcon != null" >
        module_icon = #{moduleIcon,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="checkUsbKey != null" >
        check_usb_key = #{checkUsbKey,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="onlyForRoleId != null" >
        only_for_role_id = #{onlyForRoleId,jdbcType=BIGINT},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="defaultMoule != null" >
        default_moule = #{defaultMoule,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.common.platform.model.TblModule" >
    update tbl_module
    set module_key = #{moduleKey,jdbcType=VARCHAR},
      module_name = #{moduleName,jdbcType=VARCHAR},
      module_url = #{moduleUrl,jdbcType=VARCHAR},
      module_icon = #{moduleIcon,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=BIGINT},
      order_no = #{orderNo,jdbcType=INTEGER},
      check_usb_key = #{checkUsbKey,jdbcType=INTEGER},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      only_for_role_id = #{onlyForRoleId,jdbcType=BIGINT},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      default_moule = #{defaultMoule,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>